@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --purple: #6200EE;
    --green-dark: #00B871;
    --gradient:linear-gradient(90deg, var(--green-dark), var(--purple));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection {
    background: var(--green-dark);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #f9f9f9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-size: 2rem;
    color: var(--purple);
}

header .logo span {
    color: var(--green-dark);
}

header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--green-dark);
}

header .navbar a:hover {
    color: var(--purple);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


/* media queries */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    header label {
        visibility: visible;
        opacity: 2;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0 , .2);
        box-shadow: 0 .5rem rgba(0, 0, 0 , .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;

    }

    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before {
        content: '\f00d';
    }
    
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

